In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

In [2]:
file_path="D:\Intern_proj_git\Climate-Impact-Visualiser\data\climate-ds.csv"
df=pd.read_csv(file_path)

df.head()
print("Original shape:", df.shape)

Original shape: (28242, 8)

<>:1: SyntaxWarning: invalid escape sequence '\I'
<>:1: SyntaxWarning: invalid escape sequence '\I'
C:\Users\Lavanya\AppData\Local\Temp\ipykernel_14596\557505394.py:1: SyntaxWarning: invalid escape sequence '\I'
  file_path="D:\Intern_proj_git\Climate-Impact-Visualiser\data\climate-ds.csv"

In [3]:
df.shape #tells the no. of rows and columns
df.info() #datatypes and missing values
df.describe() #summary of stats
df.columns #list of name of columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28242 entries, 0 to 28241
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     28242 non-null  int64
 1   Area                           28242 non-null  object
 2   Item                           28242 non-null  object
 3   Year                           28242 non-null  int64
 4   average_rain_fall_mm_per_year  28242 non-null  int64
 5   pesticides_tonnes              28242 non-null  float64
 6   avg_temp                       28242 non-null  float64
 7   hg/ha_yield                    28242 non-null  int64
dtypes: float64(2), int64(4), object(2)
memory usage: 1.7+ MB

Index(['Unnamed: 0', 'Area', 'Item', 'Year', 'average_rain_fall_mm_per_year',
       'pesticides_tonnes', 'avg_temp', 'hg/ha_yield'],
      dtype='object')

In [4]:
df=df.drop(columns=['Unnamed: 0'],errors='ignore')
df.shape

(28242, 7)

In [5]:

df.head(10)

,Area,Item,Year,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp,hg/ha_yield
0,Albania,Maize,1990,1485,121.0,16.37,36613
1,Albania,Potatoes,1990,1485,121.0,16.37,66667
2,Albania,"Rice, paddy",1990,1485,121.0,16.37,23333
3,Albania,Sorghum,1990,1485,121.0,16.37,12500
4,Albania,Soybeans,1990,1485,121.0,16.37,7000
5,Albania,Wheat,1990,1485,121.0,16.37,30197
6,Albania,Maize,1991,1485,121.0,15.36,29068
7,Albania,Potatoes,1991,1485,121.0,15.36,77818
8,Albania,"Rice, paddy",1991,1485,121.0,15.36,28538
9,Albania,Sorghum,1991,1485,121.0,15.36,6667

In [6]:
df.isnull().sum()

Area                             0
Item                             0
Year                             0
average_rain_fall_mm_per_year    0
pesticides_tonnes                0
avg_temp                         0
hg/ha_yield                      0
dtype: int64

In [7]:
df=df.dropna() 
df.shape

(28242, 7)

In [8]:
df['Year'].dtype
df['Year'].unique()
invalid_years = df[~df['Year'].astype(str).str.strip().str.isnumeric()]
invalid_years

Empty DataFrame
Columns: [Area, Item, Year, average_rain_fall_mm_per_year, pesticides_tonnes, avg_temp, hg/ha_yield]
Index: []

In [9]:
df['Year'] = df['Year'].astype(int)

In [10]:
df.shape

(28242, 7)

In [11]:
df['Area']=df['Area'].str.strip().str.title()
df['Item']=df['Item'].str.strip().str.title()

In [12]:
before=df.shape[0]
df=df.drop_duplicates()
after=df.shape[0]
print( f"after:{after} before:{before}")

print(f"Removed {before-after} duplicate rows.")

after:25932 before:28242
Removed 2310 duplicate rows.

In [13]:
df.rename(
    columns={
        "average_rain_fall_mm_per_year": "Avg_rainfall",
        "avg_temp": "Avg_Temp",
        "hg/ha_yield": "Crop_Yield(hectares)",
        "pesticides_tonnes": "Pesticides(tonnes)"
        
    },
    inplace=True
)

In [14]:
df['Item']=df['Item'].str.split(',')
df=df.explode('Item')
df['Item']=df['Item'].str.strip()
df.reset_index(drop=True,inplace=True)
df.head(10)

,Area,Item,Year,Avg_rainfall,Pesticides(tonnes),Avg_Temp,Crop_Yield(hectares)
0,Albania,Maize,1990,1485,121.0,16.37,36613
1,Albania,Potatoes,1990,1485,121.0,16.37,66667
2,Albania,Rice,1990,1485,121.0,16.37,23333
3,Albania,Paddy,1990,1485,121.0,16.37,23333
4,Albania,Sorghum,1990,1485,121.0,16.37,12500
5,Albania,Soybeans,1990,1485,121.0,16.37,7000
6,Albania,Wheat,1990,1485,121.0,16.37,30197
7,Albania,Maize,1991,1485,121.0,15.36,29068
8,Albania,Potatoes,1991,1485,121.0,15.36,77818
9,Albania,Rice,1991,1485,121.0,15.36,28538

In [16]:
# Convert hg/ha_yield to tons/ha
df['Crop_Yield(hectares)'] = df['Crop_Yield(hectares)'] * 0.0001

In [17]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29023 entries, 0 to 29022
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Area                  29023 non-null  object
 1   Item                  29023 non-null  object
 2   Year                  29023 non-null  int64
 3   Avg_rainfall          29023 non-null  int64
 4   Pesticides(tonnes)    29023 non-null  float64
 5   Avg_Temp              29023 non-null  float64
 6   Crop_Yield(hectares)  29023 non-null  float64
dtypes: float64(3), int64(2), object(2)
memory usage: 1.6+ MB

In [20]:
cleaned_path="../data/cleaned_climate_data.csv" #defining the file name
df.to_csv("../data/final_data.csv", index=False)#saving in csv format without indexing

print(f"Cleaned data saved succesfully.")

Cleaned data saved succesfully.